@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&display=swap');

*,::before,
::after{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
}



body {
    background-color: #ffeeee;
    font-weight: 700;
}

.firstPage {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    padding-bottom: 10px;
    font-size: 40px;
    text-transform: uppercase;
}
.startbtn {
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #eef1ff;
    border-radius: 5px;
}



.wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    
}


header {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 10px;
    color: rgba(128, 128, 128, 0.904);
}

button {
    padding: 40px;
    border-radius: 1000px;
    border: hidden;
    background-color: rgb(14, 179, 157);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}
.icons {
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 700px) {
    *,::before,
    ::after{
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
    }
    .icons {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    h2 {
        padding-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    .wrapper {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110vh;
        width: 100vw;
        
    }
}